@{
    ViewData["Title"] = "Generate Rooms";
}
<h1>@ViewData["Title"]</h1>

@using GymDivision.ScoreCalculators
@model GymDivision.Controllers.GenerateViewModel


<button class="btn btn-primary mt-4" onclick="generate()">Results</button>


<div id="results" class="mt-4"></div>


<div id="pickMembers" class="row">
    <h3>Pick Members</h3>
    @foreach (var member in Model.Members)
    {
        <div class="col-md-2 mb-3">
            <div class="card p-3 h-100">

                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div><strong>@member.Name</strong></div>
                        <div class="text-muted">Level: @member.Level</div>
                    </div>

                    <button id="@member.Id button" class="btn btn-outline-primary btn-sm"
                            onclick="addMember(@member.Id)">
                        ➕ Add
                    </button>
                </div>

            </div>
        </div>
    }
</div>


<div id = "weights">
    <div>
        <h3>Weights</h3>
        <h6>Set the weight of each type</h6>
    </div>
    <div>
        @foreach (var weightType in Enum.GetValues<WeightType>())
        {
            var sliderName = weightType.ToString().ToLowerInvariant();

            <div class="slider-row">
                <label for="slider_@sliderName">@weightType</label>
                <span id="slider_value_@sliderName"></span>
                <input id="slider_@sliderName" type="range" min="0" max="10" value="0" class="slider" />
            </div>
        }
    </div>
    
</div>


<script>
    document.querySelectorAll('#requirements .list-group-item')
        .forEach(item => {
            item.addEventListener('click', () => {
                item.classList.toggle('active');
            });
        });


    var el = document.getElementById('requirements');
    var sortable = Sortable.create(el);

    new Sortable(document.getElementById('requirements'), {
        animation: 150
    });    
</script>


<script>
    const selectedMembers = [];
    
    function addMember(id) {
        const button = document.getElementById(id + " button");
        
        if (!selectedMembers.includes(id)) {
            selectedMembers.push(id);
            button.innerHTML = '✅ Added';
        }
        else {
            selectedMembers.splice(selectedMembers.indexOf(id), 1);
            button.innerHTML = '➕ Add';
        }
    }
    
    function generate() {
        url = "";
        isFirst = true;
        for (const member of selectedMembers) {
            if (!isFirst) {
                url += "&";
            }
            isFirst = false;
            url += "memberIds=" + member;
        }
        
        @* const requirementsList = document.querySelectorAll('#requirements .list-group-item.active'); *@
        @* const requirementInts = Array.from(requirementsList).map(item => parseInt(item.dataset.value)); *@
        @* *@
        @* for (const requirementInt of requirementInts) url += "&requirements=" + requirementInt; *@
        
        const weightsList = document.querySelectorAll('.slider');
        const weights = Array.from(weightsList).map(item => parseInt(item.value));
        for (let i = 0; i < weights.length; i++) url += "&weights=" + weights[i];
        console.log(url);
        
        fetch("/Home/Generate/Generate?" + url, {
            method: "GET",
        })
        .then(response => response.json()).then(data => renderRooms(data));
    }

    function renderRooms(rooms) {
        document.getElementById("pickMembers").style.display = "none";
        document.getElementById("weights").style.display = "none";
        const results = document.getElementById("results");
        results.innerHTML = "";

        rooms.forEach((room, index) => {

            let membersHtml = "";

            for (const m of room.members) {
                membersHtml += `
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <strong>${m.name}</strong>
                        <div class="text-muted small">Level: ${m.level} | Age: ${m.age} | Injury: ${m.injury} | Pair: ${m.pairMember}</div>
                    </div>
                </li>
            `;
            }

            results.innerHTML += `
            <div class="card shadow-sm mb-3">
                
                <div class="card-header d-flex justify-content-between">
                    <h4>
                        Room ${index + 1}
                    </h4>
                    <div>
                        <span class="badge bg-primary">
                            Ideal: ${room.roomSizeIdeal}
                        </span>
                        <span class="badge bg-warning text-dark">
                            Min: ${room.roomSizeMin}
                        </span>
                        <span class="badge bg-danger">
                            Max: ${room.roomSizeMax}
                        </span>
                    </div>
                </div>

                <ul class="list-group list-group-flush">
                    ${membersHtml}
                </ul>

                <div class="card-footer text-muted">
                    Members in room: ${room.members.length}
                </div>
            </div>
        `;
        });
    }
</script>


<script>
    document.querySelectorAll(".slider").forEach(slider => {
        const sliderName = slider.id.replace("slider_", "");
        const output = document.getElementById("slider_value_" + sliderName);

        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = this.value;
        };
    });
</script>