@{
    ViewData["Title"] = "Generate Rooms";
}
<h1>@ViewData["Title"]</h1>

@model GymDivision.Controllers.GenerateViewModel


<button class="btn btn-primary mt-4" onclick="generate()">Results</button>


<div id="results" class="mt-4"></div>


<div id="pickMembers" class="row">
    <h3>Pick Members</h3>
    @foreach (var member in Model.Members)
    {
        <div class="col-md-2 mb-3">
            <div class="card p-3 h-100">

                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div><strong>@member.Name</strong></div>
                        <div class="text-muted">Level: @member.Level</div>
                    </div>

                    <button id="@member.Id button" class="btn btn-outline-primary btn-sm"
                            onclick="addMember(@member.Id)">
                        ➕ Add
                    </button>
                </div>

            </div>
        </div>
    }
</div>


<div id="requirements" class="list-group mt-sm-3">
    <h3>Requirements</h3>
    <h6>Click to select / deselect requirements!</h6>
    <h6>Drag & Drop to sort them to your needs!</h6>
    <div class="list-group-item" data-value="0">Level</div>
    <div class="list-group-item" data-value="1">Age</div>
    <div class="list-group-item" data-value="2">Injury</div>
    <div class="list-group-item" data-value="3">Pair</div>
</div>


<script src="~/js/Sortable.min.js"></script>


<script>
    document.querySelectorAll('#requirements .list-group-item')
        .forEach(item => {
            item.addEventListener('click', () => {
                item.classList.toggle('active');
            });
        });


    var el = document.getElementById('requirements');
    var sortable = Sortable.create(el);

    new Sortable(document.getElementById('requirements'), {
        animation: 150
    });    
</script>


<script>
    const selectedMembers = [];
    
    function addMember(id) {
        const button = document.getElementById(id + " button");
        
        if (!selectedMembers.includes(id)) {
            selectedMembers.push(id);
            button.innerHTML = '✅ Added';
        }
        else {
            selectedMembers.splice(selectedMembers.indexOf(id), 1);
            button.innerHTML = '➕ Add';
        }
    }
    
    function generate() {
        url = "";
        isFirst = true;
        for (const member of selectedMembers) {
            if (!isFirst) {
                url += "&";
            }
            isFirst = false;
            url += "memberIds=" + member;
        }
        
        const requirementsList = document.querySelectorAll('#requirements .list-group-item.active');
        const requirementInts = Array.from(requirementsList).map(item => parseInt(item.dataset.value));
        
        for (const requirementInt of requirementInts) url += "&requirements=" + requirementInt;
        console.log(url);
        
        fetch("/Home/Generate/Generate?" + url, {
            method: "GET",
        })
        .then(response => response.json()).then(data => renderRooms(data));
    }

    function renderRooms(rooms) {
        document.getElementById("pickMembers").style.display = "none";
        document.getElementById("requirements").style.display = "none";
        const results = document.getElementById("results");
        results.innerHTML = "";

        rooms.forEach((room, index) => {

            let membersHtml = "";

            for (const m of room.members) {
                membersHtml += `
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <strong>${m.name}</strong>
                        <div class="text-muted small">Level: ${m.level} | Age: ${m.age} | Injury: ${m.injury} | Pair: ${m.pairMember}</div>
                    </div>
                </li>
            `;
            }

            results.innerHTML += `
            <div class="card shadow-sm mb-3">
                
                <div class="card-header d-flex justify-content-between">
                    <h4>
                        Room ${index + 1}
                    </h4>
                    <div>
                        <span class="badge bg-primary">
                            Ideal: ${room.roomSizeIdeal}
                        </span>
                        <span class="badge bg-warning text-dark">
                            Min: ${room.roomSizeMin}
                        </span>
                        <span class="badge bg-danger">
                            Max: ${room.roomSizeMax}
                        </span>
                    </div>
                </div>

                <ul class="list-group list-group-flush">
                    ${membersHtml}
                </ul>

                <div class="card-footer text-muted">
                    Members in room: ${room.members.length}
                </div>
            </div>
        `;
        });
    }
</script>